$include-html-classes: false;
@import "foundation_and_overrides";

.cards-list {
  @include block-grid(5);
}

// TODO: put back per-row and spacing
.cards-show {
  @include block-grid(false);
  & > li {

//    width: (100%/5);
    display: none;
    &.expanded {
      width: 100%;
      display: block;
    }

//
//    padding: 0 (1.25rem/2) 1.25rem;
//    list-style: none;
//
//    &:nth-of-type(1n) {
//      clear: none;
//    }
//    &:nth-of-type(5n+1) {
//      clear: both;
//    }
  }

}

/* Card, Dialog */
.card {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  background-color: #B00100;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
