form {
  .select2-container {
    width: 100%;
  }

  .row {
    width: 100%;
    max-width: 100%;
  }

  .form-group {
    margin: 10px;
  }
}

input[type="number"] {
  display: inline-block;
  width: 100px;
}
