<div class="fixed">
    <nav class="top-bar" data-topbar data-options="is_hover: false" ng-controller="NavCtrl as nav">
        <ul class="title-area">
            <li class="name"><h1><a href="#">Hibbert</a></h1></li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Sources</a></li>
            </ul>
            <ul class="right">
                <li><a class="right-off-canvas-toggle" href="#">User</a></li>
            </ul>
        </section>
    </nav>
</div>
