<li ng-click="openRestaurant(restaurant)">
    <div class="card">
        <div class="title"> {{restaurant.name}}</div>
        <div class="img-wrapper">
            <img ng-src="{{ restaurant.image }}"/>
        </div>
        <div class="description">
            <p> {{restaurant.categories_list | arrayToString | checkNoCategories }} </p>

            <p ng-if="!filters.hasDistance">
                Recommended by {{ restaurant.sources_count | numberToSources }}
            </p>

            <p ng-if="filters.hasDistance">
                {{restaurant.distance | number : 3}} miles away
            </p>

            <p class="tags" ng-if="filters.hasNoShow || filters.hasTried">
                {{ !!restaurant.no_show ? "Blocked&nbsp&nbsp" : ""}}{{!!restaurant.tried ? "Tried" : ""}}
            </p>
        </div>
    </div>
</li>
