<!--Pop-up modal for applying filters and location searches to the restaurants query-->
<form ng-submit="submitQuery()">
    <div class="row form-group">
        <div class="large-6 columns">
            <label>Only Show Categories:
                <select ui-select2 ng-model="query.only">
                    <option ng-repeat="category in categories" value="{{category.name}}">
                        {{category.name}}
                    </option>
                </select>
            </label>
        </div>
        <div class="large-6 columns">
            <label>Don't Show Categories:
                <select ui-select2 ng-model="query.except">
                    <option ng-repeat="category in categories" value="{{category.name}}">
                        {{category.name}}
                    </option>
                </select>
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="large-10 columns">
                <label>Search for restaurants near: <input type="text" ng-model="query.location"></label>
            </div>
            <div class="large-2 columns">
                <label>within:<br><input type="number" ng-model="query.distance"> miles</label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="loggedIn">
        <div class="row">
            <div class="large-3 columns end">
                <label><input type="checkbox" ng-model="query.tried"> Show tried restaurants</label>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns end">
                <label><input type="checkbox" ng-model="query.no_filter"> Show blocked restaurants</label>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="large-12 columns">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
