<div>
    {{ source.name }}
    <br>
    {{ source.website }}
    <br>
    {{ source.categories_list }}
    <br>
    {{ source.address }}
    <br>
    {{ source.no_show }}
    <br>
    {{ source.tried }}
    <br>
    <div ng-repeat="source in source.sources">
        {{ source.name }}
        <br>
        {{ source.category }}
        <br>
        {{ source.website }}
        <br>
        <div ng-repeat="group in source.recommendation_groups">
            {{ group.name }}
        </div>
    </div>
</div>
