<li ng-click="openSource(source)">
    <div class="card">
        <div class="title">{{ source.name }}</div>
        <div class="img-wrapper"><img
                ng-src="{{ source.image }}"/></div>
        <div class="description">
            <p>{{ source.category }}</p>

            <p ng-if="filters.hasDistance">
                {{source.distance | number : 3}} miles away
            </p>

            <p class="tags" ng-if="filters.hasNoShow">{{ !!source.no_show ? "Blocked" : ""}}</p>
        </div>
    </div>
</li>
